.country {
   border: 2px solid blue;
   border-radius: 20px;
   padding: 20px;
   margin: 20px;
}
.country-visited{
    border: 2px solid burlywood;
   border-radius: 20px;
   padding: 20px;
   margin: 20px;
    background-color: bisque;
}